.banniereVeille{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) ,url("../images/bnrVeille.jpg");
    width: 100%;
    height: 495px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introVeille{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.title{
    font-size: 55px;
    font-weight: 900;
    color: white;
    text-shadow: #fff 1px 1px 3px;
}

.texteVeille{
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.cardsVeille{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 86%;
}
.cardContainer{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 370px;
    border: solid 2px;
    border-radius: 20px;
    margin-bottom: 80px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    position: relative;
}

.imageCard{
    width: 100%;
    height: 50%;
}
.imageCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
#cardsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.descriptionCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    padding-right: 10px;
    padding-left: 10px;
   
}
.titleCard{
    font-size: 15px;
    font-weight: 500;
}
.article{
    font-size: 14px;
}

.cardContainerBis{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 86%;
    height: 150px;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    position: relative;
}
.link{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
